{% extends "PohyQuoteBundle::layout.html.twig" %}

{% block title "New quote" %}

{% block body %}
	<div class="pure-u-1-5">&nbsp;</div>
		<div class="pure-u-3-5">
			{% include "PohyQuoteBundle::Quote/quote_new.html.twig" %}	
		</div>	
	<div class="pure-u-1-5">&nbsp;</div>
{% endblock %}