{% extends "PohyQuoteBundle::layout.html.twig" %}

{% block body %}
	<div class="pure-u-1-5">&nbsp;</div>
	<div class="pure-u-3-5">
		{% for quote in quotes %}
		    {% include "PohyQuoteBundle::Quote/quote_view.html.twig" %}
		{% endfor %}
	</div>	
	<div class="pure-u-1-5">&nbsp;</div>
{% endblock %}