{% extends 'PohyQuoteBundle::layout.html.twig' %}

{% block title "New user" %}

{% block body %}
	<form action="{{ path('quote_user_new') }}" class="pure-form pure-form-stacked" method="post">
		<fieldset>
			<label for="username" class="required">Username</label>
			<input type="text" id="username" />
			<label for="password">Password</label>
			<input type="password" id="password" />
			<label for="confirm">Confirm password:</label>
			<input type="password" id="confirm" />
			<input type="submit" id="submit" class="pure-button pure-button-primary" />
		</fieldset>
	</form>
{% endblock %}