/*ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li { display: inline; }*/
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.header {
	margin-bottom: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.quote {
	padding: 1px 0;
	border: none;
	border-radius: 5px;
	background-color: #f4f4f4;
	margin-bottom: 5px;
}

.quote blockquote {
	border: 1px solid #cfcfcf;
	border-left-width: 5px;
	border-radius: 2px;
	padding: 3px;
	padding-top: 0;
	margin: 1em 2em;
}

.quote h4 {
	padding-left: 1.5em;
	padding-bottom: 0;
}

.quote h4 a {
	color: #555;
}

.quote .controls {
	display: none;
}

.quote:hover .controls {
	display: inline;
}

.quote h4 a:hover {
	color: #999;
}

.pure-form textarea {
	height: 200px;
	width: 100%;
}