{% extends "PohyQuoteBundle::layout.html.twig" %}

{% block title "#VCH Quotes" %}

{% block body %}
	{% for quote in quotes %}
	<div class="pure-u-1-5">&nbsp;</div>
	<div class="pure-u-3-5">
		{% include "PohyQuoteBundle::Quote/quote_view.html.twig" %}	
	</div>
	<div class="pure-u-1-5">&nbsp;</div>
	{% endfor %}
{% endblock %}